* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.row {
  display: flex;
  margin-bottom: 0.3rem; }

.row [class^="col-"]:not(:last-child) {
  padding-right: 1rem; }

.col-md-1 {
  flex: 0 0 8.33333%; }

.col-md-2 {
  flex: 0 0 16.66667%; }

.col-md-3 {
  flex: 0 0 25%; }

.col-md-4 {
  flex: 0 0 33.33333%; }

.col-md-5 {
  flex: 0 0 41.66667%; }

.col-md-6 {
  flex: 0 0 50%; }

.col-md-7 {
  flex: 0 0 58.33333%; }

.col-md-8 {
  flex: 0 0 66.66667%; }

.col-md-9 {
  flex: 0 0 75%; }

.col-md-10 {
  flex: 0 0 83.33333%; }

.col-md-11 {
  flex: 0 0 91.66667%; }

.col-md-12 {
  flex: 0 0 100%; }

.col {
  border: 1px solid #ccc;
  background-color: #eee;
  border-radius: 3px;
  text-align: center; }
